
#macro( writeSection $section)
  \\${section.sectionMacro}{$section.title}\label{$section.label}
	
    #if ($section.definition)
      $section.definition
    #end
 
    #if ($section.items.size() > 0)
      \begin{itemize} 
        #foreach ($item in $section.items)
          \phantomsection
          \item \emph{$item.title} \label{def:$item.code} {\small(\texttt{\hyphenchar\font45\relax $item.codeHyp})}\\
          $item.definition
          
        #end
      \end{itemize} 
    #end
    
    #foreach ($subSection in $section.sections)
      #writeSection($subSection)
    #end
#end

#foreach ($section in $sections)
  #writeSection($section)
#end
