#macro( writeAuthor $author)
  {node [width=$author.weight,height=$author.weight,fixedsize=true,tooltip="$author.name wrote $author.emailsWritten e-mails and was active $author.numberOfActiveMonths months.",shape=circle,style=filled,color="$author.color",label="$author.multiLineName"] "$author.id"};
#end

graph G {
  fontname="Sans";
  
  #foreach($members in $communities)
    
    subgraph cluster$velocityCount {
      style=rounded;
      style=filled;
      color=grey;
      fontsize=40;
      label="$project.name - $velocityCount";
      #foreach ($member in $members)
        #writeAuthor($member)
      #end
    }
  #end
  #foreach ($edge in $edges)
    "$edge.fromID" -- "$edge.toID" [weight=$edge.weight,penwidth=$edge.weight,tooltip="Mailing-list participants $edge.from.name and $edge.to.name wrote $edge.emailsWritten e-mails in reply to each other"];
  #end
}