#macro( writeAuthor $author)
  {node [width=$author.weight,height=$author.weight,fixedsize=true,shape=circle,style=filled,color=$author.color,label="$author.multiLineName"] "$author.name"};
#end

graph G {
  fontname="Sans";
  subgraph cluster0 {
    style=rounded;
    style=filled;
    color=grey;
    fontsize=40;
    label="$project.name";
    #foreach ($member in $project.members)
      #writeAuthor($member)
    #end
  }
  #foreach ($author in $authors)
    #writeAuthor($author)
  #end
  #foreach ($edge in $edges)
    "$edge.author" -- "$edge.reply" [weight=$edge.weight,penwidth=$edge.weight];
  #end
}