#macro( writeAuthor $author)
{node [width=$author.weight,height=$author.weight,fixedsize=true,shape=circle,style=filled,] "$author.name"};
#end
<?xml version="1.0" encoding="UTF-8"?>
<graphml 
  xmlns="http://graphml.graphdrawing.org/xmlns/graphml" 
  xmlns:visone="http://visone.info/xmlns" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:y="http://www.yworks.com/xml/graphml" 
  xsi:schemaLocation="http://graphml.graphdrawing.org/xmlns/graphml http://www.yworks.com/xml/schema/graphml/1.0/ygraphml.xsd">

    <key id="d0" for="node" attr.name="color" attr.type="string">
        <default>blue</default>
    </key>
    <key id="d1" for="edge" attr.name="weight" attr.type="double"/>
    <key id="d2" for="node" attr.name="label" attr.type="string"/>

    <!-- Used for Visone compatibility -->
    <key attr.name="id" attr.type="string" for="node" id="d3"/>
    <key for="node" id="d4" yfiles.type="nodegraphics"/>
    <key for="edge" id="d5" yfiles.type="edgegraphics"/>

    <graph id="G" edgedefault="directed">
#foreach ($author in $authors)
        <node id="$author.name">
            <data key="d0">$author.color</data>
            <data key="d2">$author.multiLineName</data>
            <data key="d3">$author.name</data>
            <data key="d4">
                <visone:shapeNode>
                    <y:ShapeNode>
#set( $dim = $author.weight * 30.0 )
                        <y:Geometry x="0.0" y ="0.0" height="$dim" width="$dim"/>
                        <y:Fill color="#0000FF" transparent="false"/>
                        <y:NodeLabel>$author.name</y:NodeLabel>
                        <y:Shape type="roundrectangle"/>
                    </y:ShapeNode>
                </visone:shapeNode>
            </data>
        </node>
#end
#foreach ($edge in $edges)
        <edge source="$edge.author" target="$edge.reply">
            <data key="d1">$edge.weight</data>
            <data key="d5">
                <visone:polyLineEdge>
                    <y:PolyLineEdge>
                        <y:LineStyle color="#000000" type="line" width="$edge.weight"/>
                    </y:PolyLineEdge>
                    <visone:edgeRealizerData>
                        <visone:line style="continuous" width="$edge.weight"/>
                    </visone:edgeRealizerData>
                </visone:polyLineEdge>
            </data>
        </edge>
#end
    </graph>
</graphml>