<graph directed="0">
    <!-- nodes -->
    #foreach ($author in $authors)
        <node id="$author.name">
            <att name="weight" value="$author.weight"/>
            <att name="name" value="$author.name"/>
        </node>
    #end
    
    <!-- edges -->
    #foreach ($edge in $edges)
       <edge source="$edge.author" target="$edge.reply" weight="$edge.weight"/>
    #end
</graph>